<!doctype html>
<html lang="en">
<%- include('includes/head'); %>
 <body>
  <%- include('includes/nav'); %>
    <div class="container mt-5">
        <p>Sorry, page was not found</p>
        <img src="img/404.svg" alt="page not found">
    </div>
  <%- include('includes/footer'); %>
 </body>
</html>