<!doctype html>
<html lang="en">
<%- include('includes/head'); %>
 <body>
  <%- include('includes/nav'); %>
    <div class="container mt-5">
        <p>Something went wrong. Try again</p>
        <img src="img/500.svg" alt="Something went wrong">
    </div>
  <%- include('includes/footer'); %>
 </body>
</html>