doctype 
html 
    head: include ./partials/head
    body
        include ./helpers/mixins.pug
        include ./partials/nav
        block content
        block footer
        include ./partials/footer